<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189797188339-qcjfa7n9a9574o5fcap2bufqv4dqdsua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189797188339-qcjfa7n9a9574o5fcap2bufqv4dqdsua</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>189797188339-6ov0ro315gd6ffmm03hcsic1roc8ougb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2rAmhEZWTrYHvdafNxKl-Cw79ZmuzjcU</string>
	<key>GCM_SENDER_ID</key>
	<string>189797188339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careclimate</string>
	<key>PROJECT_ID</key>
	<string>careclimate-95ea3</string>
	<key>STORAGE_BUCKET</key>
	<string>careclimate-95ea3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189797188339:ios:2bde9cc4ad2ef30b93ed86</string>
	<key>DATABASE_URL</key>
	<string>https://careclimate-95ea3-default-rtdb.firebaseio.com</string>
</dict>
</plist>